[submodule "third_party/vamp"]
	path = third_party/vamp
	url = https://github.com/H-tr/vamp.git
	branch = main
[submodule "third_party/cricket"]
	path = third_party/cricket
	url = https://github.com/H-tr/cricket.git
[submodule "third_party/foam"]
	path = third_party/foam
	url = https://github.com/H-tr/foam.git
[submodule "third_party/ompl"]
	path = third_party/ompl
	url = https://github.com/ompl/ompl.git
